name: Trigger
on:
  workflow_dispatch:
jobs:
  trigger-echo:
    runs-on: [self-hosted,instance2]
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo workflow triggered
